.hero-unit{
    height: 100vh;
    width: 100vw;
    background-image:  url('/assets/heroUnitBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 }
 .mask{
   height: 100%;
   width: 100%;
   background-color: rgb(0, 0, 0,0.5);
 }
 #logo{
   width: 8vw;
   max-height: 80%;
   padding: 0 2%;
}
 .fill-remaining-space {
     /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
     flex: 1 1 auto;
   }
   a{
    padding:0 2em;
    text-decoration: none;
    color: white;
 }
 .mat-toolbar{
    background-color:rgb(0, 0, 0,0.3);
    font-family: "Bauer Bodoni" !important;
    color: white;
 }
 #tile{
   font-family: "Bauer Bodoni";
   color: white;
   font-weight: bolder;
   font-size: 2vw;
}