.footer {
    position: fixed;
    left: 0;
    bottom: 0;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  #head{
    height: auto;
    background-color:black; 
    color: white;
    align-items: center;
    font-size: 0.9em;
    width: 100vw;
   }
#content mat-icon {
       height: 24px;
       padding-left: 40vw;
       display: inline-flex;
       flex-direction: row;
   }
   #head a{
    text-decoration: none;
    color: white;
    padding:0.5% 1%;
 }
