spring:
  datasource:
    #    url: jdbc:mysql://${MYSQL_HOST}:3306/${MYSQL_DATABASE}
    #    username: ${MYSQL_USER}
    #    password: ${MYSQL_PASSWORD}
    url: jdbc:mysql://localhost:3306/socialbank?createDatabaseIfNotExist=true&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
#    database: mysql
    hibernate:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      ddl-auto: update
    show-sql: true
  application:
    name: user-auth
server:
  port: 9100
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka
