.container {
    height: 100%;
    width: 100%;
    padding: 0;
    /* background-color: black; */
    /* color: white; */
}

.example-card {
    max-width: 400px;
    height: 100%;
    align-items: center;
    margin: auto;
  }

.item{
    height: 85vh;
    padding: 5%;
}
  
  .mat-grid-tile .mat-figure {
      align-items: center;
  }
  .example-header-image {
    background-image: url('/assets/blankdp.png');
    background-size: cover;
  }
h2{
  background-color: rgb(0,0,0,0.4);
  color: whitesmoke;
  font-family: "Bauer Bodoni";
  font-weight: bold;
  margin: 0;
  padding: 2vh;
}
