.container {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    /* color: white; */
}

.example-card {
    max-width: 400px;
    height: 100%;
    align-items: center;
    margin: auto;
  }

.item{
    height: 100%;
    padding: 5%;
}
  
  .mat-grid-tile .mat-figure {
      align-items: center;
  }
  .example-header-image {
    background-image: url('/assets/blankdp.png');
    background-size: cover;
  }