/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; 
    color: black
    /* color: rgb(236, 190, 65);
    font-family: "Bauer Bodoni";
    background-color: #151a33; */
    
}

/* .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: goldenrod !important;
  }

  .mat-form-field .mat-form-field-underline {
    background-color: goldenrod !important;
  }

  .mat-radio-button.mat-accent .mat-radio-outer-circle{
    border-color:goldenrod; 
  }
  
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:goldenrod; 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:rgb(66, 134, 244);
    background-color: goldenrod ;
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:goldenrod;
  }

  .mat-datepicker-toggle {
    color:goldenrod !important;
   }


  .mat-form-field-label {
      color:goldenrod !important;
      font-size: 20px;
}  */