<div class="cover">
    <img src="./assets/Circle.png" alt="Group Cover">
</div>

<div class="group-name">
    <h2>{{circle.circleName}}hi</h2>
    <h3>4 Members</h3>
</div>

<hr />

<div class="tab-headers">
    <div class="tab">
        <button class="tablinks" (click)="openCity($event, 'About')">About</button>
        <button class="tablinks" (click)="openCity($event, 'Posts')">Posts</button>
        <button class="tablinks" (click)="openCity($event, 'Members')">Members</button>
    </div>

    <div id="About" class="tabcontent">
        <h3>About</h3>
        <p>{{circle.circleDescription}}</p>
    </div>

    <div id="Posts" class="tabcontent">
        <h3>Posts</h3>
        <mat-expansion-panel class='add-post-panel'>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Post in circle
              </mat-panel-title>
            </mat-expansion-panel-header>
          
            <div class="post-form">
              <mat-form-field>
                <input name="name" [(ngModel)]='post1.postTitle' matInput placeholder="Title">
              </mat-form-field>
          
              <mat-form-field>
                <textarea name="description" [(ngModel)]='post1.postContent' matInput placeholder="Content"></textarea>
              </mat-form-field>
          
              <button mat-fab color="primary" class="add-button" (click)='addPost()'>Create</button>
            </div>
          </mat-expansion-panel>
        <p>All posts of this circle to be displayes as cards</p>
        <div *ngFor="let post of posts" id="list">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{post.postTitle}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/Post.jpeg"
                alt="post" id="postImg">
            <mat-card-content>
                <p>
                    {{post.postContent}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/dashboard/post/update" (click)="sendPost(post)">Update</button>
                <button mat-button (click)="deletePost(post)">Delete</button>
              </mat-card-actions>
        </mat-card>
    </div>
</div>
    <div id="Members" class="tabcontent">
        <h3>Members</h3>
        <div *ngFor ="let user of members">
            <img src="/assets/blankdp.png" alt="dp" id="dp">
            {{user.userId}}
        </div>
    </div>
</div>