<small>{{circleMessage}}</small>
<mat-expansion-panel class='add-group-panel'>
  <mat-expansion-panel-header>
      <mat-panel-title>
          Create a group
      </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="group-form">
      <mat-form-field>
          <input name="name" [(ngModel)]='circle.circleName' matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field>
          <textarea name="description" [(ngModel)]='circle.circleDescription' matInput placeholder="Description"></textarea>
      </mat-form-field>

      <button mat-fab color="primary" class="add-button" (click)='addGroup()'>Create</button>
  </div>

</mat-expansion-panel>


