.cover {
  width: 100%;
  margin-top: 0;
}
.cover img {
  width: 100%;
  max-height: 35vh;
}
.example-card {
  max-width: 400px;
  margin: 3%
}
.group-form{
  color: black;
}

.example-header-image {
  background-image: url('/assets/blankdp.png');
  background-size: cover;
}

.groupCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.page{
  background-image: url("/assets/mainBg.jpg");
  min-height: 100vh;
}
button{
  margin-left: 2vw;
}